@truonghuytrung2001:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.example.com/api/v4/projects/37531171/packages/npm/:_authToken=glpat-nW9q7xTS4xYYM2TWNXM_
//gitlab.example.com/api/v4/packages/npm/:_authToken=glpat-nW9q7xTS4xYYM2TWNXM_
